footer.footer
    .container
        .g
            .u-1-2.u-xs-1-4.u-md-4-24
                .gap-10
                    .navigation--align_right
                        nav.navigation
                            ul
                                li
                                    a(href="javascript:void(0)") КАТАЛОГ
                                li
                                    a(href="javascript:void(0)") New
            .u-1-2.u-xs-1-4.u-md-4-24
                .gap-10
                    .navigation--align_right
                        nav.navigation
                            ul
                                li
                                    a(href="javascript:void(0)") LookBook
                                li
                                    a(href="javascript:void(0)") StreetStyle
                                li
                                    a(href="javascript:void(0)") Video
            .u-1.u-md-8-24.footer-logo
                .gap-10
                    +logo-mainpage

            .u-1-2.u-xs-1-4.u-md-4-24
                .gap-10
                    .navigation--align_left
                        nav.navigation
                            ul
                                li
                                    a(href="javascript:void(0)") Доставка
                                li
                                    a(href="javascript:void(0)") Как сделать заказ
            .u-1-2.u-xs-1-4.u-md-4-24
                .gap-10
                    .navigation--align_left
                        nav.navigation
                            ul
                                li
                                    a(href="javascript:void(0)") Наш шоурум
                                li
                                    a(href="javascript:void(0)") Контакты

    .footer-line.container
        .folow-us
            .gap-10
                ul
                    li
                        a.icon.icon--type_social-viber(href="callto:112233") Viber
                    li
                        a.icon.icon--type_social-whatsapp(href="javascript:void(0)") whatsapp
                    li
                        a.icon.icon--type_social-instagram(href="javascript:void(0)") instagram
                    li
                        a.icon.icon--type_social-facebook(href="javascript:void(0)") facebook
        .copyright Интернет-магазин вязанных изделий. 2017
        .developer Разработка сайта <a href="wiserv.ru">wiserv.ru</a> <a href="wiserv.ru" class="icon icon--type_wis">wiserv.ru</a>
