//- Main menu in header
.main-nav
    a.open_menu#open_main_menu(href="javascript:void(0)")
        span
        span
        span
    
    .navigation_container#main_menu_container
        .navigation_overlay
        .container
            .gap-10
                .navigation_inner
                    .g
                        .u-1.u-sm-1-2.u-lg-11-24
                            nav.navigation.navigation_offset
                                ul.navigation--level_0
                                    li
                                        a(href="javascript:void(0)") КАТАЛОГ
                                        .g
                                            .u-1.u-xs-1-2
                                                ul.navigation--level_1
                                                    li
                                                        a(href="javascript:void(0)") Пуловеры
                                                    li
                                                        a(href="javascript:void(0)") Пальто
                                                    li
                                                        a(href="javascript:void(0)") Свитера
                                                    li
                                                        a(href="javascript:void(0)") Кардиганы
                                                    li
                                                        a(href="javascript:void(0)") Жилеты
                                                    li
                                                        a(href="javascript:void(0)") Топы
                                                    li
                                                        a(href="javascript:void(0)") Платья
                                                    li
                                                        a(href="javascript:void(0)") Юбки
                                            .u-1.u-xs-1-2
                                                ul.navigation--level_1
                                                    li
                                                        a(href="javascript:void(0)") Шапки
                                                    li
                                                        a(href="javascript:void(0)") Шарфы
                                                    li
                                                        a(href="javascript:void(0)") Аксессуары
                        .u-1.u-sm-1-2.u-lg-5-24
                            nav.navigation
                                ul.navigation--level_0
                                    li
                                        a(href="javascript:void(0)") NEW
                                    li
                                        a(href="javascript:void(0)") Instagram
                                    li
                                        a(href="javascript:void(0)") LookBook
                                    li
                                        a(href="javascript:void(0)") StreetStyle
                                    li
                                        a(href="javascript:void(0)") Video
                                    li
                                        a(href="javascript:void(0)") Наш шоурум
                        .u-1.u-lg-8-24.header-navigation_tools
                            include header_right_modified

                    nav.navigation.navigation--type_service
                        ul
                            li
                                a(href="javascript:void(0)") Контакты
                            li
                                a(href="javascript:void(0)") Как сделать заказ
                            li
                                a(href="javascript:void(0)") Доставка