.subscribe
    .gap-special
        h4 Узнавайте<br/>о новинках и скидках первыми
        form.form(method="post", action="javascript:void(0)")
            .form_line
                input.input--type_text(type="text", name="email", placeholder="your@email.com")
            .form_line
                input.button(type="submit", value="Подписаться на рассылку")
            .form_notice Нажимая кнопку “Подписаться на рассылку” Вы даете свое согласие на обработку Ваших персональных данных и принимаете условия<br/><a href="javascript:void(0)" target="_blank">“Пользовательского соглашения”</a>