section.interaction
    .interaction_item
        .gap-10
            a(href="javascript:void(0)")
                span.interaction_item_pic
                    img(src="./images/content/interaction_01.jpg", alt="Контакты")
                span.interaction_item_name 
                    span.icon.icon--type_contacts-128
                    span.interaction_item_name_text Контакты
    .subscribe_container
        .gap-10
            include ./subscribe.pug
    .interaction_item
        .gap-10
            a(href="javascript:void(0)")
                span.interaction_item_pic
                    img(src="./images/content/interaction_02.jpg", alt="Как сделать заказ")
                span.interaction_item_name 
                    span.icon.icon--type_placeorder
                    span.interaction_item_name_text Как сделать заказ