//- base.pug
extends ./templates/layout.pug

block main_content
    .container
        section
            .gap-10 some text

        section.promo-links
            .g
                .u-10-24
                    .gap-10 some text
                .u-14-24
                    .gap-10 some text

