//- base.pug
extends ./templates/layout.pug

block main_content
    .container
        section
            .gap-10 
                ul(style="font-size:20px;")
                    li
                        a(href="main.html") Главная
                    li
                        a(href="product.html") Карта товара
                    li
                        a(href="catalog.html") Каталог
                    li
                        a(href="video.html") Видео
                    li
                        a(href="contacts.html") Контакты
                    li
                        a(href="showroom.html") Showroom
                    li
                        a(href="lookbook.html") LookBook Collection
                    li
                        a(href="lookbook_detail.html") LookBook Detail
                    li
                        a(href="wishlist.html") Wishlist
                    li
                        a(href="instagram.html") Instagram
                br
                br
                br
                ul(style="font-size:14px;")
                    li
                        a(href="popup.html") Popups
