//- base.pug
extends ./templates/layout.pug

block main_content
    .container

        section
            .gap-10
                .section_header
                    h2 lookbook
                .lookbook_collection
                    .lookbook_collection_item
                        .g
                            .u-1.u-md-10-24
                                .lookbook_collection_item_right
                                    .gap-10.gap-bottom-fix
                                        .lookbook_collection_title
                                            .lookbook_collection_title_name
                                                a(href="/") Невероятная сверхастрономическая зимняя коллекция зимняя коллекция
                                            .lookbook_collection_title_date сентябрь`18
                                        .shift 
                                            .g
                                                .u-1-2
                                                    .gap-10 
                                                        a(href="javascript:void(0)")
                                                            img(src="images/content/lookbook_02.jpg", alt="")
                                                .u-1-2
                                                    .gap-10 
                                                        a(href="javascript:void(0)")
                                                            img(src="images/content/lookbook_03.jpg", alt="")
                                            .gap-10.gap-bottom-fix
                                                a(href="javascript:void(0)")
                                                    img(src="images/content/lookbook_04.jpg", alt="")
                            .u-1.u-md-14-24
                                a(href="javascript:void(0)")
                                    img(src="images/content/lookbook_01.jpg", alt="")
                            
                    .lookbook_collection_item
                        .g
                            .u-1.u-md-14-24
                                a(href="javascript:void(0)")
                                    img(src="images/content/lookbook_05.jpg", alt="")
                            .u-1.u-md-10-24
                                .lookbook_collection_item_left
                                    .gap-10.gap-bottom-fix
                                        .lookbook_collection_title
                                            .lookbook_collection_title_name
                                                a(href="javascript:void(0)") Летняя коллекция
                                            .lookbook_collection_title_date июнь`18
                                        .shift 
                                            .g
                                                .u-1-2
                                                    .gap-10 
                                                        a(href="javascript:void(0)")
                                                            img(src="images/content/lookbook_06.jpg", alt="")
                                                .u-1-2
                                                    .gap-10 
                                                        a(href="javascript:void(0)")
                                                            img(src="images/content/lookbook_07.jpg", alt="")
                                            .gap-10.gap-bottom-fix
                                                a(href="javascript:void(0)")
                                                    img(src="images/content/lookbook_08.jpg", alt="")

