//- main.pug
extends ./templates/layout.pug

block header
	header.header
		.container
			include templates/header_menu
			include templates/header_right
			+logo-mainpage

block main_content
	.main-page
		.container
			section
				.gap-10
					.carousel_container.main-slider
						ul.carousel
							li
								a(href="javascript:void(0)")
									img(src="./images/content/main_slider_02.jpg", alt="1")
							li
								a(href="javascript:void(0)")
									img(src="./images/content/main_slider_03.jpg", alt="2")
							li
								a(href="javascript:void(0)")
									img(src="./images/content/main_slider_04.jpg", alt="3")
							li
								a(href="javascript:void(0)")
									img(src="./images/content/main_slider_05.jpg", alt="4")
							li
								a(href="javascript:void(0)")
									img(src="./images/content/main_slider_04.jpg", alt="5")
						.carousel_pagination


			section.promo-links
				.g
					.u-1.u-md-10-24
						.gap-10
							.promo-links_item
								a(href="javascript:void(0)")
									span.promo-links_item_pic
										img(src="./images/content/promo-links_01.jpg", alt="")
									span.promo-links_item_name КАТАЛОГ
					.u-1.u-md-14-24
						.gap-10
							.promo-links_item
								a(href="javascript:void(0)")
									span.promo-links_item_pic
										img(src="./images/content/promo-links_02.jpg", alt="")
									span.promo-links_item_name NEW
				.g
					.u-1.u-md-14-24
						.gap-10
							.promo-links_item
								a(href="javascript:void(0)")
									span.promo-links_item_pic
										img(src="./images/content/promo-links_03.jpg", alt="")
									span.promo-links_item_name
										|<span class="wis-icon wis-icon--type_instagram"></span> instagram
					.u-1.u-md-10-24
						.gap-10
							.promo-links_item
								a(href="javascript:void(0)")
									span.promo-links_item_pic
										img(src="./images/content/promo-links_04.jpg", alt="")
									span.promo-links_item_name LOOKBOOK

			include templates/user_interaction

			section
				+carousel-products

block append body_scripts
	script(src="./js/jquery.carouFredSel-6.2.1.js")
	script(src="./js/jquery.touchSwipe.min.js")

	script.
		$(function(){
			initMainSlider();
			initProductsCarousel();
			
		})
