/*
* Constants
*/
$text_color:#000;
$text_color2:#707070;
$text-color3: #959595;
$text-color4: #fff;


$bg_color:#fff;
$link_color1:#000;
$link_color2:#fff;
$link_color3:#b51090;

$sprite_url:url(../images/icons.png);

$font-base:"Trebuchet MS", Helvetica, sans-serif;
$font-headers:Georgia, Times, "Times New Roman", serif;

/* Form > */
$placeholder-color:#555;
$form-button-bg:#000;
$form-button-bg-hover:#404040;
$form-button-color:#fff;
$form-input-bg:#fff;
$form-input-color:#000;

