.filters {
    padding: 17px 40px;
    ul {
        list-style:none;
        margin: 0;
    }
    .filters_item {
        float: left;
        padding: 5px;
        margin: 0 35px 0 0;
        position: relative;
        &.opened {
            .filters_item_title {
                color:#000;
                &:before {
                    border-width: 2px 2px 0 0;
                    margin:2px 12px 0 0;
                    border-color: #000;
                }
            }
            .filters_item_dd {
                display: block;
            }
        }
    }
    .filters_item_title {
        color:#959595;
        font:16px $font-headers;
        cursor: pointer;
        &:hover {
            color:#000;
            &:before {
                border-color:#000;
            }
        }
        &:before {
            content: '';
            width: 0; 
            height: 0; 
            border: solid #959595;
            border-width: 0 0 2px 2px;
            display: inline-block;
            padding: 3px;
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            margin:0 12px 2px 0;
        }
        &.remove-filters {
            &:hover {
                color:$link_color3;
                .icon-cross {
                    color:$link_color3;
                    &:before, &:after {
                        background-color: $link_color3;
                    } 
                }
            }
            &:before {
                content:none;
            }
            .icon-cross {
                color: #959595;
                &:before, &:after {
                    background-color: #959595;
                } 
            }
        }
    }
    .filters_item_dd {
        position: absolute;
        z-index: 100;
        left: 0;
        top: 30px;
        background: #fff;
        border:1px solid #e8e8e8;
        padding: 20px;
        min-width: 210px;
        display: none;
        .filters_color-group {
            line-height: 2;
        }
    }

    .color {
        width: 18px;
        height: 18px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
    }
    .color-name {
        display: inline-block;
        vertical-align: middle;
    }
    .product_size {
        padding-bottom: 10px;
    }
    .checkbox-group {
        .input {
            & + .label:before {
                margin-right: 10px;
            }
        }
    } 
}